## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gmaps_key

# Configure gmaps API key
gmaps.configure(api_key=gmaps_key)

In [15]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Rikitea,PF,-23.1203,-134.9692,79.03,79.03,74,0,12.84,clear sky,2021-01-17 23:58:32
1,1,Bathsheba,BB,13.2167,-59.5167,78.80,78.80,73,20,18.41,few clouds,2021-01-17 23:58:32
2,2,Georgetown,MY,5.4112,100.3354,78.80,77.00,69,20,5.75,few clouds,2021-01-17 23:58:32
3,3,Hobart,AU,-42.8794,147.3294,64.40,61.00,52,75,23.02,broken clouds,2021-01-17 23:56:12
4,4,Provideniya,RU,64.3833,-173.3000,1.40,1.40,71,90,8.95,light snow,2021-01-17 23:58:32

In [19]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 100

In [20]:
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Rikitea,PF,-23.1203,-134.9692,79.03,79.03,74,0,12.84,clear sky,2021-01-17 23:58:32
1,1,Bathsheba,BB,13.2167,-59.5167,78.80,78.80,73,20,18.41,few clouds,2021-01-17 23:58:32
2,2,Georgetown,MY,5.4112,100.3354,78.80,77.00,69,20,5.75,few clouds,2021-01-17 23:58:32
3,3,Hobart,AU,-42.8794,147.3294,64.40,61.00,52,75,23.02,broken clouds,2021-01-17 23:56:12
4,4,Provideniya,RU,64.3833,-173.3000,1.40,1.40,71,90,8.95,light snow,2021-01-17 23:58:32
...,...,...,...,...,...,...,...,...,...,...,...,...
676,676,Ola,RU,59.5833,151.2833,-11.43,-11.43,87,100,16.20,light snow,2021-01-17 23:59:50
677,677,Gold Coast,AU,-28.0000,153.4333,79.00,75.99,83,75,9.22,broken clouds,2021-01-17 23:58:58
678,678,Sao Teotonio,PT,37.5128,-8.7071,43.00,43.00,31,28,1.99,scattered clouds,2021-01-17 23:59:50
679,679,Kilifi,KE,-3.6305,39.8499,76.60,76.60,89,68,6.29,broken clouds,2021-01-17 23:59:50
680,680,Wanning,CN,18.8003,110.3967,54.63,54.63,70,1,14.25,clear sky,2021-01-17 23:59:50

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Min Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Rikitea,PF,-23.1203,-134.9692,79.03,79.03,74,0,12.84,clear sky,2021-01-17 23:58:32
1,1,Bathsheba,BB,13.2167,-59.5167,78.80,78.80,73,20,18.41,few clouds,2021-01-17 23:58:32
2,2,Georgetown,MY,5.4112,100.3354,78.80,77.00,69,20,5.75,few clouds,2021-01-17 23:58:32
3,3,Hobart,AU,-42.8794,147.3294,64.40,61.00,52,75,23.02,broken clouds,2021-01-17 23:56:12
5,5,Vaini,TO,-21.2000,-175.2000,86.00,86.00,74,75,13.80,broken clouds,2021-01-17 23:58:32
7,7,Saint-Philippe,RE,-21.3585,55.7679,77.00,66.00,73,0,8.05,clear sky,2021-01-17 23:58:32
8,8,Kaitangata,NZ,-46.2817,169.8464,64.00,64.00,37,65,8.99,broken clouds,2021-01-17 23:58:32
10,10,Sibolga,ID,1.7427,98.7792,77.61,77.61,75,98,2.57,moderate rain,2021-01-17 23:58:33
12,12,Alice Springs,AU,-23.7000,133.8833,77.00,77.00,18,0,14.97,clear sky,2021-01-17 23:58:33
14,14,Tanout,NE,14.9709,8.8879,66.04,66.04,25,72,16.84,broken clouds,2021-01-17 23:58:33

In [28]:
# 4a. Determine if there are any empty rows.
print(preferred_cities_df.isnull().sum())
print(len(preferred_cities_df))

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Min Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64
340

In [37]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                333
City                   333
Country                333
Lat                    333
Lng                    333
Max Temp               333
Min Temp               333
Humidity               333
Cloudiness             333
Wind Speed             333
Current Description    333
Date                   333
dtype: int64

In [39]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Min Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Min Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.03,79.03,clear sky,-23.1203,-134.9692,
1,Bathsheba,BB,78.80,78.80,few clouds,13.2167,-59.5167,
2,Georgetown,MY,78.80,77.00,few clouds,5.4112,100.3354,
3,Hobart,AU,64.40,61.00,broken clouds,-42.8794,147.3294,
5,Vaini,TO,86.00,86.00,broken clouds,-21.2000,-175.2000,
7,Saint-Philippe,RE,77.00,66.00,clear sky,-21.3585,55.7679,
8,Kaitangata,NZ,64.00,64.00,broken clouds,-46.2817,169.8464,
10,Sibolga,ID,77.61,77.61,moderate rain,1.7427,98.7792,
12,Alice Springs,AU,77.00,77.00,clear sky,-23.7000,133.8833,
14,Tanout,NE,66.04,66.04,broken clouds,14.9709,8.8879,

In [45]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [104]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   333
Country                333
Max Temp               333
Min Temp               333
Current Description    333
Lat                    333
Lng                    333
Hotel Name             333
dtype: int64

In [113]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/clean_hotels.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [114]:
# Add a heatmap of temperature for the vacation spots.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)


# Call the figure to plot the data.

In [115]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [116]:
# 11a. Add a marker layer for each city to the map. 
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))